.description {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: rgb(133, 20, 75);
    color: #fff;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: center;
}

.item > button {
    width: 150px;
}

.item > label {
    margin-right: 20px;
    color: rgb(17, 17, 17);;
}

.item > * {
    margin-top: 5px;
    margin-bottom: 5px;
}